* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

html,
body {
  height: 100%;
  background-color: #0b0c0f;
  overflow: hidden;
}

#root {
  height: 100%;
}
